@media screen and (min-width:300px) {
  #HmNav {
    margin: 0 auto;
  }
  #HmNavHeader {
    text-align: center
  }
  .welcome {
    margin-top: -145px;
  }
  .nav-tabs>li>a {
		font-size: 1em;
    font-weight: bold;
    color: #fff;
	}
  .nav-tabs>li>a:hover {color:#000;}
  .nav-tabs {margin: 3.5px;}
}
@media screen and (min-width:998px){
  .welcome {
    margin-top: -350px;
  }
  .nav-tabs>li>a {
		font-size: 1.5em;
	}
}
