.logo {
  background:rgba(0,0,0,0.8);padding:.235em;display:block;text-align:center;margin: -150px auto;
}
.logo-sm {
  text-align: center;
  margin: 150px auto -50px auto;
  background:rgb(0,0,0);
  display:block;
}
.img {
  display: inline;
  margin: 0 auto;
}

@media screen and (max-width:720px){
  .logo {
    display: none;
    opacity: 0;
  }
  .section1 h1 {
    padding-top: .235em;
  }
  .section1 {
    padding-top: 25px;
  }
  /*article {
    padding-top:-110px;
    margin-top: -550px;
  }*/
}
@media screen and (min-width:300px) {

  #HmNav {
    margin: 0 auto;
  }
  #HmNavHeader {
    text-align: center
  }
  .welcome {
    margin: 0;
  }
  .nav-tabs>li>a {
		font-size: 1em;
    font-weight: bold;
    color: #fff;
	}
  .nav-tabs>li>a:hover {color:#000;}
  .nav-tabs {margin: 3.5px;}
}
@media screen and (min-width:720px) {
  .logo-sm {
    display: none;
    opacity: 0;
  }
  .section1 h1 {
    padding-top: 2em;
  }
}
@media screen and (min-width:998px){

  .welcome {
    margin-top: -280px;
  }
  .nav-tabs>li>a {
		font-size: 1.5em;
	}
}
